
/* @import 'node_modules/bootstrap/dist/css/bootstrap';
@import 'base';
@import 'module';
@import 'layout'; */


body {
    background-color: rgb(228, 225, 228);
    
}

#mainFooter{
    background: cadetblue;
}

#headertag{
    height: "80px";
}


#formGroupExampleInput{
    width: "80%";
}

/* .card-footer{
    position: absolute;
    bottom: .1em;
    height: 4rem;
}
.card ul{
    margin-bottom: 8rem !important;
} */